/*--------------CUSTOM DEFINE----------------*/

body{
	overflow-x: hidden;
}

@media (max-width: 1439px)  { 
	.filter-btn{
		text-align: center;
	}


	.hoverDiv:hover {
		border: 3px solid #36d7ac;
	}
	
	/***
	Pricing table
	***/
	.pricing {
		position: relative;
		margin-bottom: 15px;
	}
	
	.pricing-active {
		border: 3px solid #36d7ac;
		margin-top: -10px;
		box-shadow: 7px 7px rgba(54, 215, 172, 0.2);
	}
	
	
	.pricing:hover h4 {
		color: #36d7ac;
	}
	
	.pricing-head {
		text-align: center;
	}
	
	.pricing-head h3, .pricing-head h4 {
		margin: 0;
		line-height: normal;
	}
	
	.pricing-head h3 span, .pricing-head h4 span {
		display: block;
		margin-top: 5px;
		font-size: 14px;
		font-style: italic;
	}
	
	.pricing-head h3 {
		font-weight: 300;
		color: #fafafa;
		padding: 12px 0;
		font-size: 27px;
		background: #36d7ac;
		border-bottom: solid 1px #41b91c;
	}
	
	.pricing-head h4 {
		color: #bac39f;
		padding: 5px 0;
		font-size: 54px;
		font-weight: 300;
		background: #fbfef2;
		border-bottom: solid 1px #f5f9e7;
	}
	
	.pricing-head-active h4 {
		color: #36d7ac;
	}
	
	.pricing-head h4 i {
		top: -8px;
		font-size: 28px;
		font-style: normal;
		position: relative;
	}
	
	.pricing-head h4 span {
		top: -10px;
		font-size: 14px;
		font-style: normal;
		position: relative;
	}
	
	/*Pricing Content*/
	.pricing-content li {
		color: #888;
		font-size: 12px;
		padding: 7px 15px;
		border-bottom: solid 1px #f5f9e7;
	}
	
	/*Pricing Footer*/
	.pricing-footer {
		color: #777;
		font-size: 11px;
		line-height: 17px;
		text-align: center;
		padding: 0 20px 19px;
	}
	
	/*Priceing Active*/
	.price-active, .pricing:hover {
		z-index: 9;
	}
	
	.price-active h4 {
		color: #36d7ac;
	}
	
	.no-space-pricing .pricing:hover {
		transition: box-shadow 0.2s ease-in-out;
	}
	
	.no-space-pricing .price-active .pricing-head h4, .no-space-pricing .pricing:hover .pricing-head h4
		{
		color: #36d7ac;
		padding: 15px 0;
		font-size: 80px;
		transition: color 0.5s ease-in-out;
	}
	
	.yellow-crusta.btn {
		color: #FFFFFF;
		background-color: #f3c200;
	}
	
	.yellow-crusta.btn:hover, .yellow-crusta.btn:focus, .yellow-crusta.btn:active,
		.yellow-crusta.btn.active {
		color: #FFFFFF;
		background-color: #cfa500;
	}
	/* price css */
	body {
		padding-bottom: 40px;
		padding-top: 60px;
	}
	
	/* .sidebar-nav-fixed {
		width:16%;
	} */
	.nav #login a {
		float: left;
	}
	
	.contentAdmin {
		margin-left: 20px;
	}
	
	.fullwidthcombo {
		width: 100%;
	}
	
	/*--------------END CUSTOM DEFINE----------------*/
	
	/*--------------NAVBAR----------------*/
	.navbar-default {
		background-color: #2c90de;
		border-color: #6947975e;
	}
	
	.navbar-default .navbar-brand {
		color: #ecf0f1;
	}
	
	.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
		{
		color: white;
	}
	
	.navbar-default .navbar-text {
		color: #ecf0f1;
	}
	
	.navbar-default .navbar-nav>li>a {
		color: #ecf0f1;
	}
	
	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
		{
		color: white;
	}
	
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
		.navbar-default .navbar-nav>.active>a:focus {
		color: white;
		background-color: #6947975e;
	}
	
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
		.navbar-default .navbar-nav>.open>a:focus {
		color: white;
		background-color: #6947975e;
	}
	
	.navbar-default .navbar-toggle {
		border-color: #6947975e;
	}
	
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
		{
		background-color: #6947975e;
	}
	
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #ecf0f1;
	}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: #ecf0f1;
	}
	
	.navbar-default .navbar-link {
		color: #ecf0f1;
	}
	
	.navbar-default .navbar-link:hover {
		color: white;
	}
	
	@media ( max-width : 767px) {
		.navbar-default .navbar-nav .open .dropdown-menu>li>a {
			color: #ecf0f1;
		}
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
			.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
			color: white;
		}
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
			.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
			.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
			color: white;
			background-color: transparent;
		}
	}
	
	/*----------------END NAVBAR---------------*/
	footer {
		background-color: #2c90de;
		color: #ecf0f1;
	}
	
	#login {
		font-style: italic;
		font-family: monospace;
	}
	
	.navbar-brand {
		font-family: OR;
		font-size: 32px;
	}
	
	@font-face {
		font-family: OR;
		src: url('../font/Odin Rounded - Regular.otf');
	}
	
	/*------------------- button login -------------------*/
	.btn-primary.gradient {
		background: -moz-linear-gradient(top, #33a6cc 50%, #0099cc 50%);
		/* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #33a6cc),
			color-stop(50%, #0099cc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #33a6cc 50%, #0099cc 50%);
		/* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #33a6cc 50%, #0099cc 50%);
		/* Opera 11.10+ */
		background: -ms-linear-gradient(top, #33a6cc 50%, #0099cc 50%);
		/* IE10+ */
		background: linear-gradient(to bottom, #33a6cc 50%, #0099cc 50%);
		/* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc',
			endColorstr='#0099cc', GradientType=0); /* IE6-9 */
	}
	
	.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active,
		.btn-primary.gradient.active, .open>.dropdown-toggle.btn-primary {
		background: -moz-linear-gradient(top, #66b2cc 50%, #33a6cc 50%);
		/* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #66b2cc),
			color-stop(50%, #33a6cc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #66b2cc 50%, #33a6cc 50%);
		/* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #66b2cc 50%, #33a6cc 50%);
		/* Opera 11.10+ */
		background: -ms-linear-gradient(top, #66b2cc 50%, #33a6cc 50%);
		/* IE10+ */
		background: linear-gradient(to bottom, #66b2cc 50%, #33a6cc 50%);
		/* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc',
			endColorstr='#33a6cc', GradientType=0); /* IE6-9 */
	}
	
	.btn-primary.gradient:active, .btn-primary.gradient.active {
		background: -moz-linear-gradient(top, #267c99 50%, #007299 50%);
		/* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #267c99),
			color-stop(50%, #007299)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #267c99 50%, #007299 50%);
		/* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #267c99 50%, #007299 50%);
		/* Opera 11.10+ */
		background: -ms-linear-gradient(top, #267c99 50%, #007299 50%);
		/* IE10+ */
		background: linear-gradient(to bottom, #267c99 50%, #007299 50%);
		/* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99',
			endColorstr='#007299', GradientType=0); /* IE6-9 */
	}
	
	/*------------------- end button login -------------------*/
	
	.nav>li.active{
		background-color: #f1f0f0;
	}
	
	.nav>li>a:hover{
		background-color: #f1f0f0;
		height: 60px;
	}
	
	
	        .des{
	       		height: 90px; 
	       		margin-top: -30px;
	       		text-align: left;
	       		margin-left: 20%;
	        }
	        
	        .carousel{
	        margin-left: -10%;
	        margin-right:-10%;
	        }
	        
	        body{
	        padding-bottom: 0px;
	        }
	        
	        @media (min-width: 768px)
			#main .left {
			    background-color: rgba(0,0,0,0.5);
			}
	
			.register-note{
				font-size: 32px;
			    font-weight: bold;
			    color: white;
			}
			
			.actions{
			    margin-right: 10px;
			    background-color: #F4A400;
	    		margin-right: 0;
			}
			
			.actions{
				font-size: 20px;
			    padding-left: 30px;
			    padding-right: 30px;
			    height: 56px;
			    line-height: 56px;
			    border-radius: 100px;
			    font-weight: 700;
			    display: inline-block;
			    text-align: center;
			    text-transform: uppercase;
			    margin-bottom: 5px;
			    font-size: 14px;
			    padding-left: 15px;
			    padding-right: 15px;
			    height: 35px;
			    line-height: 35px;
			    margin-top: 30px;
			}
			
			.actions a{
				color: black;
				font-size: 20px;
				text-decoration: none;
			}
			
			.dload{
				color: #DDD;
			}
			
			.well{
				background-color: white;
				border: none;
				padding: 0px;
			}
			
			.well .nav>li{
				height: 60px;
				font-size: 18px; 
				padding-top: 8px;
			}
			
			.well .nav>li:hover{
				height: 60px;
				background-color: #f1f0f0;
			}
			
			.well .nav>li a{
				height: 50px;
				text-decoration: none;
				color: black;
			}
			
			#loginButton{
				background-color: #2c90de;
				color: white;
				font-size: 15px;
				width: 30%;
			}
			
			.log a{
				color:black;
				font-weight: 500;
			}
			
			hr{
			border-top: 1px solid #d1cdcd;
			}
			
			.form-page{
				margin-top: 11vh; width: 40%; margin-left: 30%; padding-left: 5%; padding-right: 5%; padding-top: 2%; padding-bottom: 2%; text-align:center;
			}
			
			.form-page h2{
			width: 30%; font-weight: 700; margin-top: -40px; margin-left: 35%; background-color: white; margin-bottom: 30px
			}
			
			.form-register{
				margin-top: 6vh; width: 60%; margin-left: 20%; padding-left: 5%; padding-right: 5%; padding-top: 2%; padding-bottom: 2%; text-align:center;
			}
			
			.form-register .col-md-4{
				text-align:left;
			}
			
			.form-register h2{
			width: 25%; font-weight: 700; margin-top: -40px; margin-left: 37%; background-color: white; margin-bottom: 30px
			}
			
			.form-reset{
				margin-top: 15vh; width: 50%; margin-left: 25%; padding-left: 5%; padding-right: 5%; padding-top: 2%; padding-bottom: 2%; text-align:center;
			}
			
			.form-reset .col-md-4{
				text-align:left;
			}
			
			.form-reset h2{
			width: 60%; font-weight: 700; margin-top: -40px; margin-left: 20%; background-color: white; margin-bottom: 30px
			}
			
			
	.animate
	{
		transition: all 0.1s;
		-webkit-transition: all 0.1s;
	}
	
	.action-button
	{
		position: relative;
		padding: 10px 40px;
	  margin: 0px 10px 10px 0px;
	  float: left;
		border-radius: 10px;
		font-family: 'Pacifico', cursive;
		font-size: 25px;
		color: #FFF;
		text-decoration: none;	
	}
	
	
	.yellow
	{
		background-color: #F2CF66;
		border-bottom: 5px solid #D1B358;
		text-shadow: 0px -2px #D1B358;
	}
	
	.action-button:active
	{
		transform: translate(0px,5px);
	  -webkit-transform: translate(0px,5px);
		border-bottom: 1px solid;
	}
	
	.download{
		background-image: url('../img/Cover final design.png'); 
		background-size: cover; 
		padding-top: 25vh; 
		color: white; 
		height: 100vh;
	}
	
	.download h1{
		font-size: 80px; 
		font-weight: 700; 
		font-family: Somatic
	}
	
	.download h4{
		 font-size: 30px;
	}
	
	.download .col-md-5{
		font-size:20px;
	}
	
	.download .downloadBtn{
		margin-bottom: 100px; background-color:#faa91c; border-radius: 100px; height: 60px; width: 55%; margin-top: 30px; border: none;
	}
	
	.download  a{
		text-decoration: none; color: black; FONT-SIZE: 25px;font-weight: 700;
	}
	
	button:focus {outline:0;}
	
	.advantage{
		width: 80%; margin-left: 10%; padding-top: 50px; padding-bottom: 50px;
	}
	
	.advantage h1{
		font-family: Somatic; font-weight: 700; font-size: 50px;
	}
	
	.advantage h3{
		color: #faa91c; font-size: 25px; font-weight: 700;
	}
	
	.advantage h4{
		font-size: 20px;
	}
	
	.vip{
		background-color: black; color: white; padding-top: 50px; padding-bottom: 50px;
	}
	
	.vip h1{
		font-family: Somatic; font-weight: 700; font-size: 50px;
	}
	
	.vip .content{
		width: 80%; margin-top: 50px;
	}
	
	.vip h3{
		color: #faa91c; font-size: 25px; font-weight: 700;
	}
	
	.vip h4{
		font-size: 20px;
	}
	
	.experience{
		width: 60%; margin-left: 20%; padding-top: 50px; padding-bottom: 50px;
	}
	
	.experience h1{
		font-family: Somatic; font-weight: 700; font-size: 50px;
	}
	
	
	 .note{
	 color: #2c90de; font-size: 23px; font-style: italic; margin-top: 4vh;
	 }
	
	.peo{
		font-size: 25px;font-weight: 700;color: #faa91c;margin-right: 20px;
	}
	
	.pos{
		font-size: 20px;font-weight: 600;margin-right: 20px;
	}
	
	.contact{
		padding-top:50px; padding-bottom: 50px; color: white; background-color: black;
	}
	
	.contact h1{
		font-family: Somatic; font-weight: 700; font-size: 50px;
	}
	
	.contact h2{
		font-size:25px; font-weight: 600;
	}
	
	.contact .row{
		font-size: 25px;
	}
	
	
	.pricing {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		justify-content: center;
		width: 80%;
		margin: 0 auto 3em;
	}
	
	.pricing__item {
		position: relative;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-align-items: stretch;
		align-items: stretch;
		text-align: center;
		-webkit-flex: 0 1 300px;
		flex: 0 1 300px;
	}
	
	.pricing__feature-list {
		text-align: left;
	}
	
	.pricing__action {
		color: inherit;
		border: none;
		background: none;
	}
	
	.pricing__action:focus {
		outline: none;
	}
	/* karma */
	.pricing--karma .pricing__item {
		margin: 1em;
		color: #382628;
		background: #fff;
		cursor: default;
		text-transform: uppercase;
		letter-spacing: 4px;
		border: 2px solid #382628;
		border-radius: 5px;
	}
	
	.pricing--karma .pricing__title {
		font-size: 1em;
		font-weight: 700;
		margin: 0.5em 0 0;
		padding: 1em;
		border-bottom: 2px solid #382628;
	}
	
	.pricing--karma .icon {
		display: inline-block;
		min-width: 2em;
	}
	
	.pricing--karma .pricing__price {
		font-size: 3em;
		padding: 0.5em 0 0 0;
		margin: 1em;
		font-weight: bold;
		border: 2px solid #382628;
		position: relative;
		z-index: 100;
	}
	
	.pricing--karma .pricing__item--featured .pricing__price::after {
		background: url(../img/stamp.png);
		background-size: cover;
		content: '';
		position: absolute;
		top: -30px;
		right: -20px;
		width: 100px;
		height: 100px;
		pointer-events: none;
	}
	
	.pricing--karma .pricing__currency {
		font-size: 0.5em;
		vertical-align: super;
	}
	
	.pricing--karma .pricing__period {
		font-size: 0.25em;
		display: block;
		padding: 1em;
		margin-top: 1.25em;
		border-top: 2px solid #382628;
	}
	
	.pricing--karma .pricing__sentence {
		margin: 0 0 1em 0;
		padding: 1em;
		font-size: 0.85em;
		border-bottom: 2px solid #382628;
	}
	
	.pricing--karma .pricing__feature-list {
		font-size: 0.85em;
		margin: 0;
		letter-spacing: 0;
		padding: 0 1em 2.5em 4em;
		list-style-type: square;
	}
	
	.pricing--karma .pricing__action {
		font-weight: bold;
		flex: none;
		margin: auto 1em 1em;
		padding: 1.25em 2em;
		color: #fff;
		background: #faa91c;
		letter-spacing: 2px;
		border-radius: 5px;
		font-size: 0.95em;
		text-transform: uppercase;
		-webkit-transition: background-color 0.3s, color 0.3s;
		transition: background-color 0.3s, color 0.3s;
	}
	
	.pricing--karma .pricing__action:hover,
	.pricing--karma .pricing__action:focus {
		background-color: #faa91c8c;
		color: #382628;
	}
	
	#wrapper {
	  width: 600px;
	  margin: 0 auto;
	  margin-top: 13%;
	}
	.thank h1 {
	  color: #faa91c;
	  text-shadow: -1px -2px 3px rgba(17, 17, 17, 0.3);
	  text-align: center;
	  font-family: "Monsterrat", sans-serif;
	  font-weight: 900;
	  text-transform: uppercase;
	  font-size: 80px;
	  margin-bottom: 35px;
	}
	.thank h1 underline {
	  border-top: 5px solid white;
	  border-bottom: 5px solid white;
	}
	.thank h3 {
	  text-align: center;
	  width: 570px;
	  margin-left: 16px;
	  font-family: "Lato", sans-serif;
	  font-weight: 600;
	  color: #EEE;
	  margin-bottom: 35px;
	}
	
	.page-header{
		border-bottom: none;
		font-size: 32px;
		margin-bottom: -10px;
	}
	
	.dropdown-toggle{
		height: 9vh;
	}
	
	
	.odd{
		height: 40px;
	}
	
	.even{
		height: 40px;
	}
	
	table.dataTable tbody th, table.dataTable tbody td{
		padding-top: 10px !important;
	}
	
	.sidebar-header{
		background: url(../img/Background.png);
		background-size: cover;
	}
	
	.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
		border: none !important;
		background: none !important;
		
	}
	
	
	input[type=search]{
		border-radius: 100px;
	    border: 1px solid #ccc;
	}
}


@media (min-width: 1440px)  {
	.filter-btn{
		text-align: center;
	}


	.hoverDiv:hover {
		border: 3px solid #36d7ac;
	}
	
	/***
	Pricing table
	***/
	.pricing {
		position: relative;
		margin-bottom: 15px;
	}
	
	.pricing-active {
		border: 3px solid #36d7ac;
		margin-top: -10px;
		box-shadow: 7px 7px rgba(54, 215, 172, 0.2);
	}
	
	
	.pricing:hover h4 {
		color: #36d7ac;
	}
	
	.pricing-head {
		text-align: center;
	}
	
	.pricing-head h3, .pricing-head h4 {
		margin: 0;
		line-height: normal;
	}
	
	.pricing-head h3 span, .pricing-head h4 span {
		display: block;
		margin-top: 5px;
		font-size: 14px;
		font-style: italic;
	}
	
	.pricing-head h3 {
		font-weight: 300;
		color: #fafafa;
		padding: 12px 0;
		font-size: 27px;
		background: #36d7ac;
		border-bottom: solid 1px #41b91c;
	}
	
	.pricing-head h4 {
		color: #bac39f;
		padding: 5px 0;
		font-size: 54px;
		font-weight: 300;
		background: #fbfef2;
		border-bottom: solid 1px #f5f9e7;
	}
	
	.pricing-head-active h4 {
		color: #36d7ac;
	}
	
	.pricing-head h4 i {
		top: -8px;
		font-size: 28px;
		font-style: normal;
		position: relative;
	}
	
	.pricing-head h4 span {
		top: -10px;
		font-size: 14px;
		font-style: normal;
		position: relative;
	}
	
	/*Pricing Content*/
	.pricing-content li {
		color: #888;
		font-size: 12px;
		padding: 7px 15px;
		border-bottom: solid 1px #f5f9e7;
	}
	
	/*Pricing Footer*/
	.pricing-footer {
		color: #777;
		font-size: 11px;
		line-height: 17px;
		text-align: center;
		padding: 0 20px 19px;
	}
	
	/*Priceing Active*/
	.price-active, .pricing:hover {
		z-index: 9;
	}
	
	.price-active h4 {
		color: #36d7ac;
	}
	
	.no-space-pricing .pricing:hover {
		transition: box-shadow 0.2s ease-in-out;
	}
	
	.no-space-pricing .price-active .pricing-head h4, .no-space-pricing .pricing:hover .pricing-head h4
		{
		color: #36d7ac;
		padding: 15px 0;
		font-size: 80px;
		transition: color 0.5s ease-in-out;
	}
	
	.yellow-crusta.btn {
		color: #FFFFFF;
		background-color: #f3c200;
	}
	
	.yellow-crusta.btn:hover, .yellow-crusta.btn:focus, .yellow-crusta.btn:active,
		.yellow-crusta.btn.active {
		color: #FFFFFF;
		background-color: #cfa500;
	}
	/* price css */
	body {
		padding-bottom: 40px;
		padding-top: 60px;
	}
	
	/* .sidebar-nav-fixed {
		width:16%;
	} */
	.nav #login a {
		float: left;
	}
	
	.contentAdmin {
		margin-left: 20px;
	}
	
	.fullwidthcombo {
		width: 100%;
	}
	
	/*--------------END CUSTOM DEFINE----------------*/
	
	/*--------------NAVBAR----------------*/
	.navbar-default {
		background-color: #2c90de;
		border-color: #6947975e;
	}
	
	.navbar-default .navbar-brand {
		color: #ecf0f1;
	}
	
	.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
		{
		color: white;
	}
	
	.navbar-default .navbar-text {
		color: #ecf0f1;
	}
	
	.navbar-default .navbar-nav>li>a {
		color: #ecf0f1;
	}
	
	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
		{
		color: white;
	}
	
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
		.navbar-default .navbar-nav>.active>a:focus {
		color: white;
		background-color: #6947975e;
	}
	
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
		.navbar-default .navbar-nav>.open>a:focus {
		color: white;
		background-color: #6947975e;
	}
	
	.navbar-default .navbar-toggle {
		border-color: #6947975e;
	}
	
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
		{
		background-color: #6947975e;
	}
	
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #ecf0f1;
	}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: #ecf0f1;
	}
	
	.navbar-default .navbar-link {
		color: #ecf0f1;
	}
	
	.navbar-default .navbar-link:hover {
		color: white;
	}
	
	@media ( max-width : 767px) {
		.navbar-default .navbar-nav .open .dropdown-menu>li>a {
			color: #ecf0f1;
		}
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
			.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
			color: white;
		}
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
			.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
			.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
			color: white;
			background-color: transparent;
		}
	}
	
	/*----------------END NAVBAR---------------*/
	footer {
		background-color: #2c90de;
		color: #ecf0f1;
	}
	
	#login {
		font-style: italic;
		font-family: monospace;
	}
	
	.navbar-brand {
		font-family: OR;
		font-size: 32px;
	}
	
	@font-face {
		font-family: OR;
		src: url('../font/Odin Rounded - Regular.otf');
	}
	
	/*------------------- button login -------------------*/
	.btn-primary.gradient {
		background: -moz-linear-gradient(top, #33a6cc 50%, #0099cc 50%);
		/* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #33a6cc),
			color-stop(50%, #0099cc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #33a6cc 50%, #0099cc 50%);
		/* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #33a6cc 50%, #0099cc 50%);
		/* Opera 11.10+ */
		background: -ms-linear-gradient(top, #33a6cc 50%, #0099cc 50%);
		/* IE10+ */
		background: linear-gradient(to bottom, #33a6cc 50%, #0099cc 50%);
		/* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc',
			endColorstr='#0099cc', GradientType=0); /* IE6-9 */
	}
	
	.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active,
		.btn-primary.gradient.active, .open>.dropdown-toggle.btn-primary {
		background: -moz-linear-gradient(top, #66b2cc 50%, #33a6cc 50%);
		/* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #66b2cc),
			color-stop(50%, #33a6cc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #66b2cc 50%, #33a6cc 50%);
		/* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #66b2cc 50%, #33a6cc 50%);
		/* Opera 11.10+ */
		background: -ms-linear-gradient(top, #66b2cc 50%, #33a6cc 50%);
		/* IE10+ */
		background: linear-gradient(to bottom, #66b2cc 50%, #33a6cc 50%);
		/* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc',
			endColorstr='#33a6cc', GradientType=0); /* IE6-9 */
	}
	
	.btn-primary.gradient:active, .btn-primary.gradient.active {
		background: -moz-linear-gradient(top, #267c99 50%, #007299 50%);
		/* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #267c99),
			color-stop(50%, #007299)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #267c99 50%, #007299 50%);
		/* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #267c99 50%, #007299 50%);
		/* Opera 11.10+ */
		background: -ms-linear-gradient(top, #267c99 50%, #007299 50%);
		/* IE10+ */
		background: linear-gradient(to bottom, #267c99 50%, #007299 50%);
		/* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99',
			endColorstr='#007299', GradientType=0); /* IE6-9 */
	}
	
	/*------------------- end button login -------------------*/
	
	.nav>li.active{
		background-color: #f1f0f0;
	}
	
	.nav>li>a:hover{
		background-color: #f1f0f0;
		height: 60px;
	}
	
	
	        .des{
	       		height: 90px; 
	       		margin-top: -30px;
	       		text-align: left;
	       		margin-left: 20%;
	        }
	        
	        .carousel{
	        margin-left: -10%;
	        margin-right:-10%;
	        }
	        
	        body{
	        padding-bottom: 0px;
	        }
	        
	        @media (min-width: 768px)
			#main .left {
			    background-color: rgba(0,0,0,0.5);
			}
	
			.register-note{
				font-size: 32px;
			    font-weight: bold;
			    color: white;
			}
			
			.actions{
			    margin-right: 10px;
			    background-color: #F4A400;
	    		margin-right: 0;
			}
			
			.actions{
				font-size: 20px;
			    padding-left: 30px;
			    padding-right: 30px;
			    height: 56px;
			    line-height: 56px;
			    border-radius: 100px;
			    font-weight: 700;
			    display: inline-block;
			    text-align: center;
			    text-transform: uppercase;
			    margin-bottom: 5px;
			    font-size: 14px;
			    padding-left: 15px;
			    padding-right: 15px;
			    height: 35px;
			    line-height: 35px;
			    margin-top: 30px;
			}
			
			.actions a{
				color: black;
				font-size: 20px;
				text-decoration: none;
			}
			
			.dload{
				color: #DDD;
			}
			
			.well{
				background-color: white;
				border: none;
				padding: 0px;
			}
			
			.well .nav>li{
				height: 60px;
				font-size: 18px; 
				padding-top: 8px;
			}
			
			.well .nav>li:hover{
				height: 60px;
				background-color: #f1f0f0;
			}
			
			.well .nav>li a{
				height: 50px;
				text-decoration: none;
				color: black;
			}
			
			#loginButton{
				background-color: #2c90de;
				color: white;
				font-size: 15px;
				width: 30%;
			}
			
			.log a{
				color:black;
				font-weight: 500;
			}
			
			hr{
			border-top: 1px solid #d1cdcd;
			}
			
			.form-page{
				margin-top: 11vh; width: 40%; margin-left: 30%; padding-left: 5%; padding-right: 5%; padding-top: 2%; padding-bottom: 2%; text-align:center;
			}
			
			.form-page h2{
			width: 30%; font-weight: 700; margin-top: -40px; margin-left: 35%; background-color: white; margin-bottom: 30px
			}
			
			.form-register{
				margin-top: 6vh; width: 60%; margin-left: 20%; padding-left: 5%; padding-right: 5%; padding-top: 2%; padding-bottom: 2%; text-align:center;
			}
			
			.form-register .col-md-4{
				text-align:left;
			}
			
			.form-register h2{
			width: 25%; font-weight: 700; margin-top: -40px; margin-left: 37%; background-color: white; margin-bottom: 30px
			}
			
			.form-reset{
				margin-top: 15vh; width: 50%; margin-left: 25%; padding-left: 5%; padding-right: 5%; padding-top: 2%; padding-bottom: 2%; text-align:center;
			}
			
			.form-reset .col-md-4{
				text-align:left;
			}
			
			.form-reset h2{
			width: 60%; font-weight: 700; margin-top: -40px; margin-left: 20%; background-color: white; margin-bottom: 30px
			}
			
			
	.animate
	{
		transition: all 0.1s;
		-webkit-transition: all 0.1s;
	}
	
	.action-button
	{
		position: relative;
		padding: 10px 40px;
	  margin: 0px 10px 10px 0px;
	  float: left;
		border-radius: 10px;
		font-family: 'Pacifico', cursive;
		font-size: 25px;
		color: #FFF;
		text-decoration: none;	
	}
	
	
	.yellow
	{
		background-color: #F2CF66;
		border-bottom: 5px solid #D1B358;
		text-shadow: 0px -2px #D1B358;
	}
	
	.action-button:active
	{
		transform: translate(0px,5px);
	  -webkit-transform: translate(0px,5px);
		border-bottom: 1px solid;
	}
	
	.download{
		background-image: url('../img/Cover final design.png'); 
		background-size: cover; 
		padding-top: 25vh; 
		color: white; 
		height: 100vh;
	}
	
	.download h1{
		font-size: 80px; 
		font-weight: 700; 
		font-family: Somatic
	}
	
	.download h4{
		 font-size: 30px;
	}
	
	.download .col-md-5{
		font-size:20px;
	}
	
	.download .downloadBtn{
		margin-bottom: 100px; background-color:#faa91c; border-radius: 100px; height: 60px; width: 55%; margin-top: 30px; border: none;
	}
	
	.download  a{
		text-decoration: none; color: black; FONT-SIZE: 25px;font-weight: 700;
	}
	
	button:focus {outline:0;}
	
	.advantage{
		width: 80%; margin-left: 10%; padding-top: 50px; padding-bottom: 50px;
	}
	
	.advantage h1{
		font-family: Somatic; font-weight: 700; font-size: 50px;
	}
	
	.advantage h3{
		color: #faa91c; font-size: 25px; font-weight: 700;
	}
	
	.advantage h4{
		font-size: 20px;
	}
	
	.vip{
		background-color: black; color: white; padding-top: 50px; padding-bottom: 50px;
	}
	
	.vip h1{
		font-family: Somatic; font-weight: 700; font-size: 50px;
	}
	
	.vip .content{
		width: 80%; margin-top: 50px;
	}
	
	.vip h3{
		color: #faa91c; font-size: 25px; font-weight: 700;
	}
	
	.vip h4{
		font-size: 20px;
	}
	
	.experience{
		width: 60%; margin-left: 20%; padding-top: 50px; padding-bottom: 50px;
	}
	
	.experience h1{
		font-family: Somatic; font-weight: 700; font-size: 50px;
	}
	
	
	 .note{
	 color: #2c90de; font-size: 23px; font-style: italic; margin-top: 4vh;
	 }
	
	.peo{
		font-size: 25px;font-weight: 700;color: #faa91c;margin-right: 20px;
	}
	
	.pos{
		font-size: 20px;font-weight: 600;margin-right: 20px;
	}
	
	.contact{
		padding-top:50px; padding-bottom: 50px; color: white; background-color: black;
	}
	
	.contact h1{
		font-family: Somatic; font-weight: 700; font-size: 50px;
	}
	
	.contact h2{
		font-size:25px; font-weight: 600;
	}
	
	.contact .row{
		font-size: 25px;
	}
	
	
	.pricing {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		justify-content: center;
		width: 80%;
		margin: 0 auto 3em;
	}
	
	.pricing__item {
		position: relative;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-align-items: stretch;
		align-items: stretch;
		text-align: center;
		-webkit-flex: 0 1 300px;
		flex: 0 1 300px;
	}
	
	.pricing__feature-list {
		text-align: left;
	}
	
	.pricing__action {
		color: inherit;
		border: none;
		background: none;
	}
	
	.pricing__action:focus {
		outline: none;
	}
	/* karma */
	.pricing--karma .pricing__item {
		margin: 1em;
		color: #382628;
		background: #fff;
		cursor: default;
		text-transform: uppercase;
		letter-spacing: 4px;
		border: 2px solid #382628;
		border-radius: 5px;
	}
	
	.pricing--karma .pricing__title {
		font-size: 1em;
		font-weight: 700;
		margin: 0.5em 0 0;
		padding: 1em;
		border-bottom: 2px solid #382628;
	}
	
	.pricing--karma .icon {
		display: inline-block;
		min-width: 2em;
	}
	
	.pricing--karma .pricing__price {
		font-size: 3em;
		padding: 0.5em 0 0 0;
		margin: 1em;
		font-weight: bold;
		border: 2px solid #382628;
		position: relative;
		z-index: 100;
	}
	
	.pricing--karma .pricing__item--featured .pricing__price::after {
		background: url(../img/stamp.png);
		background-size: cover;
		content: '';
		position: absolute;
		top: -30px;
		right: -20px;
		width: 100px;
		height: 100px;
		pointer-events: none;
	}
	
	.pricing--karma .pricing__currency {
		font-size: 0.5em;
		vertical-align: super;
	}
	
	.pricing--karma .pricing__period {
		font-size: 0.25em;
		display: block;
		padding: 1em;
		margin-top: 1.25em;
		border-top: 2px solid #382628;
	}
	
	.pricing--karma .pricing__sentence {
		margin: 0 0 1em 0;
		padding: 1em;
		font-size: 0.85em;
		border-bottom: 2px solid #382628;
	}
	
	.pricing--karma .pricing__feature-list {
		font-size: 0.85em;
		margin: 0;
		letter-spacing: 0;
		padding: 0 1em 2.5em 4em;
		list-style-type: square;
	}
	
	.pricing--karma .pricing__action {
		font-weight: bold;
		flex: none;
		margin: auto 1em 1em;
		padding: 1.25em 2em;
		color: #fff;
		background: #faa91c;
		letter-spacing: 2px;
		border-radius: 5px;
		font-size: 0.95em;
		text-transform: uppercase;
		-webkit-transition: background-color 0.3s, color 0.3s;
		transition: background-color 0.3s, color 0.3s;
	}
	
	.pricing--karma .pricing__action:hover,
	.pricing--karma .pricing__action:focus {
		background-color: #faa91c8c;
		color: #382628;
	}
	
	#wrapper {
	  width: 600px;
	  margin: 0 auto;
	  margin-top: 13%;
	}
	
	.thank{
		padding-top: 10vh;
	}
	.thank h1 {
	  color: #faa91c;
	  text-shadow: -1px -2px 3px rgba(17, 17, 17, 0.3);
	  text-align: center;
	  font-family: "Monsterrat", sans-serif;
	  font-weight: 900;
	  text-transform: uppercase;
	  font-size: 80px;
	  margin-bottom: 35px;
	}
	.thank h1 underline {
	  border-top: 5px solid white;
	  border-bottom: 5px solid white;
	}
	.thank h3 {
	  text-align: center;
	  width: 570px;
	  margin-left: 16px;
	  font-family: "Lato", sans-serif;
	  font-weight: 600;
	  color: #EEE;
	  margin-bottom: 35px;
	}
	
	.page-header{
		border-bottom: none;
		font-size: 32px;
		margin-bottom: -10px;
	}
	
	.dropdown-toggle{
		height: 9vh;
	}
	
	
	.odd{
		height: 40px;
	}
	
	.even{
		height: 40px;
	}
	
	table.dataTable tbody th, table.dataTable tbody td{
		padding-top: 10px !important;
	}
	
	.sidebar-header{
		background: url(../img/Background.png);
		background-size: cover;
	}
	
	.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
		border: none !important;
		background: none !important;
		
	}
	
	
	input[type=search]{
		border-radius: 100px;
	    border: 1px solid #ccc;
	}
	
	.navbar-header{
    	margin-top: 1vh;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    	margin-top: 1vh;
    }
	
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
		margin-left: -120%;
	}
	
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
		height: 70px;
	}
	
	.navbar-right{
		margin-right: -8%;
	}
	
	.navbar-fixed-bottom .row{
		margin-left: -11%;
		margin-right: -23%;
	}
}


@font-face {
  font-family: 'Somatic';
  src: url("../font/Somatic-Rounded.otf");
};

